server {
    listen 80;
    listen [::]:80;
{% if item.vhost_name | regex_search('^[^.]+\.[^.]+$') %}
    server_name {{ item.vhost_name }} www.{{ item.vhost_name }};
{% else %}
    server_name {{ item.vhost_name }};
{% endif %}
    
    root /var/www/{{ item.vhost_name }}/current/public;

    access_log /var/log/nginx/{{ item.vhost_name }}-access.log;
    error_log /var/log/nginx/{{ item.vhost_name }}-error.log error;

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
    add_header X-XSS-Protection "1; mode=block";

    index index.php;

    charset utf-8;

    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ^~ /livewire {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js)$ {
        expires 1y;
        add_header Cache-Control "public, no-transform";
    }

    {% if 'true' in item.vhost_location_microsoft %}
    location /.well-known/microsoft-identity-association.json {
        root /var/www/.well-known/{{ item.vhost_name }};
        try_files /microsoft-identity-association.json =404;
    }
    {% endif %}
}
